assets/docs/DIE_Practica4_2021-22.pdf
assets/docs/Diapositivas_explicaciones_P4.pdf
PicoBlazeFPGA/vivado/pico_example
*.fmt
*.log
*.mem
PicoBlazeFPGA/soft/Linux/rom_prog.vhd
PicoBlazeFPGA/soft/Windows/rom_prog.vhd
